body {font-style: italic; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
    h1{color: blueviolet;width: auto;text-align: center;}
    h2{color: blue;}
    h3{color: chocolate;}
    span {color: rgb(106, 80, 255);max-width: 720px; text-align: center;}
    image {max-width: 720px;}
    li{color: rgb(115, 131, 23); border: 1px yellow;}
    #login {background-color: rgb(118, 139, 0);}
    .Copyright {font-size: 10px;font-family: Georgia, 'Times New Roman', Times, serif;font-style: oblique;}
    .conteudo {text-align: justify;
        max-width: 720px;
    margin: 0 auto;
display: block;}
    .listafo {text-align: center;
    list-style: none;text-decoration: none;
}
    a{text-decoration: none;}